.main-layout {
    grid-template-rows: 80px minmax(1px, 1fr);
    height: 100vh;
}

.clear-layout{
    grid-template-rows: minmax(1px, 1fr);
    height: 100vh; 
}



.main-inline-padding {
    padding-inline: 0;
}