.note-preview {
    position: relative;
    break-inside: avoid; 
    
    display: flex;
    flex-direction: column;

    border: 0.5px solid var(--clr-gray-150);
    padding-inline:8px;
    padding-block-end:4px;
    padding-block-start:8px;
    min-height: 100px;
    margin-block-end: 16px;

    background-color: var(--clr-white);
    cursor: pointer;
    border-radius: var(--border-radius-md);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.note-preview:hover {
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}


.note-preview .pin-note-btn {
    position: absolute;
    right: 4px;
    top: 4px;

    height: 32px !important;
    width: 32px !important;
}

.note-preview .pin-note-btn.pinned {
    opacity: 1 !important;
    color: var(--clr-gray-700);

}

.note-txt,
.note-img,
.note-todos {
    grid-area: main;
}


.note-preview .action-btns {
    margin-block-start: auto;
}
.note-preview .action-btns button{
    margin-block-start: auto;

    width: 30px;
    height: 30px;
}


.note-preview .action-btns,
.note-preview .pin-note-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-out, transform .5s ease-out;
}
.note-preview:hover .action-btns,
.note-preview:hover .pin-note-btn {
    opacity: 1;
    pointer-events: auto;
}


.delete-note-btn {
    margin-inline-start: auto;

}