.main-header {
    padding-inline-end: var(--px-spacing-lg);
    padding-inline-start: 12px;

}

.main-header-content-wraper {
    gap: var(--px-spacing-lg);
}

.main-header-content-wraper .main-nav ul {
    gap: var(--px-spacing-mdl);
}

.main-header-content-wraper .main-nav ul li a {
    padding-inline: 16px;
    padding-block: 8px;

    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;

    transition: 0.3s;
}

.main-header-content-wraper .main-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-header-content-wraper .side-nav-btn {
    padding-top: 4px;
    height: 50px;
    width: 50px;
}

.main-header .apps-menu-wraper {
    margin-inline-start: auto;
    position: relative;
    display: inline-block;
}

.main-header .apps-menu-wraper .apps-menu-btn {
    padding-top: 6px;

    height: 50px;
    width: 50px;
}

.main-header .apps-menu-wraper .apps-menu-btn svg {
    stroke: var(--clr-accent-base);
}



.main-header .apps-menu-wraper .apps-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 6px;

    padding: 1rem;

    background: var(--clr-white);
    border: 8px solid var(--clr-gray-150);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
}

.main-header .apps-menu-wraper .apps-menu ul {
    gap: 8px;
}

.main-header .apps-menu-wraper .apps-menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;

    color: var(--clr-gray-700);
    font-weight: 400;
    border-radius: 16px;
    text-align: center;
}
.main-header .apps-menu-wraper .apps-menu a:hover {
    background-color: var(--clr-gray-100);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-header .apps-menu-wraper .apps-menu a.active {
    background-color: var(--clr-gray-100);
}

.main-header .apps-menu-wraper .apps-menu .app-icon {
    width: 60px;
    height: 60px;
    margin-block-end: 2px;
}