.text-btn {
    background-color: transparent;
    border: none;
    color: rgb(6, 71, 15);
    font-size: 1.2rem;
    font-weight: 600;
    padding-block: 4px;
    padding-inline: 16px;
    border-radius: 8px;
}

.text-btn:hover {
    background-color: rgba(6, 71, 15, 0.2);

}

.text-btn.back-icon::before {
    content: "<";
    padding-inline-end: 8px;
}


/* icon btns */

.icon-btn {
    position: relative;
    border-radius: var(--border-radius-round);
    border: none;
    background-color: transparent;

    color: var(--clr-gray-500);

}


/* hover animation */
.icon-btn::before {
    content: "";

    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;

    width: 20%;
    height: 20%;


    background-color: var(--clr-icn-btn-hover);
    border-radius: var(--border-radius-round);

    opacity: 0;
    transition: var(--transition-ex-fast);
}

.icon-btn:hover::before {
    opacity: 1;

    width: 100%;
    height: 100%;

    transition: var(--transition-ex-fast);

}


/* color type */


/* size */
.icon-btn.big {
    height: 40px;
    width: 40px;
    font-size: 1.3rem;
}

.icon-btn.medium {
    height: 40px;
    width: 40px;
    font-size: 1em;
}

.icon-btn.small {
    height: 34px;
    width: 34px;
}


/* icons */
.icon-btn::after {
    position: relative;
    z-index: 1;
}

.icon-btn.star::after {
    content: "\f005";
    font-family: fa-regular;
}

.icon-btn.xmark::after {
    content: "\f00d";
    font-family: fa;
}

.icon-btn.x::after {
    content: "\58";
    font-family: fa;
}

.icon-btn.trash-can::after {
    content: "\f2ed";
    font-family: fa;
}
.icon-btn.trash-can-regular::after {
    content: "\f2ed";
    font-family: fa-regular;
}

.icon-btn.duplicate::after {
    content: "\f24d";
    font-family: fa;
}

.icon-btn.img-uploade::after {
    content: "\f03e";
    font-family: fa-regular;
}

.icon-btn.pin::after {
    content: "\f08d";
    font-family: fa;
}

.icon-btn.un-pin::after {
       content: "\e68f";
       font-family: fa;
   }

.icon-btn.envelope::after {
    content: "\f0e0";
    font-family: fa-regular;
}
.icon-btn.envelope-open::after {
    content: "\f2b6";
    font-family: fa-regular;
}

.icon-btn.pencil::after {
    content: "\f0e0";
    font-family: fa-regular;
}

.icon-btn.file::after {
    content: "\f15b";
    font-family: fa-regular;
}

.icon-btn.chevron-left::after {
    content: "\f053";
    font-family: fa;
}

.icon-btn.chevron-right::after {
    content: "\f054";
    font-family: fa;
}

.icon-btn.palette::after {
    content: "\f53f";
    font-family: fa;
}

.icon-btn.image::after {
    content: "\f03e";
    font-family: fa-regular;
}

.icon-btn.inbox::after {
    content: "\f01c";
    font-family: fa;
}
.icon-btn.arrow-left::after {
    content: "\f060";
    font-family: fa;
}

.icon-btn.share-from-square::after {
    content: "\f14d";
    font-family: fa;
}

.icon-btn.square-check::after {
    content: "\f14a";
    font-family: fa-regular;
}

.icon-btn.note-sticky::after {
    content: "\f249";
    font-family: fa-regular;
}

.icon-btn.box-archive::after {
    content: "\f187";
    font-family: fa;
}

.icon-btn .bookmark{
    content: "\f02e";
    font-family: fa;
}