/* ======= Layout =======*/
.mail-preview {
    display: grid;
    grid-template-columns: auto auto 300px minmax(100px, 1fr) auto;
    grid-template-rows: 44px;
    column-gap: 8px;
}

.mail-preview>* {
    justify-self: start;
    align-self: center;
}


.mail-preview>:last-child {
    justify-self: end;

}


/* ======= Style =======*/

/* Main Cmp */
.mail-preview {
    border-block-end: 1.5px solid var(--clr-gray-150);
    padding-inline-end: var(--px-spacing-md);
    padding-inline-start: var(--px-spacing-sm);

    background-color: var(--clr-white);
    color: var(--clr-black);
    font-weight: 800;

    cursor: pointer;
}

.mail-preview:hover {
    z-index: 2;
    box-shadow: var(--box-shadow-1);
}

.mail-preview .star-btn {
    opacity: 0.3;
}

.mail-preview .star-btn.is-starred::after {
    font-family: fa;
    color: var(--clr-yellow-l);
    opacity: 1;
}

.mail-preview .star-btn.is-starred {
    opacity: 1;
}

.mail-preview:hover .star-btn {
    opacity: 1;

}



/* mail content */

.mail-preview .mail-content-wraper {
    grid-template-columns: auto auto 1fr;
    gap: 4px;
}

.mail-preview .mail-content-wraper .mail-subject,
.mail-preview .mail-content-wraper .mail-body-snippet {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.mail-preview .mail-content-wraper .seperator,
.mail-preview .mail-content-wraper .mail-body-snippet {
    font-weight: 400;
    color: var(--clr-gray-400);
}


/* sent date */

.mail-preview .mail-sent-at {
    font-size: 0.8em;
    padding-inline-start: 48px;
}

.mail-preview:hover .mail-sent-at{
    display: none;
}

/* action btns */

.mail-preview .mail-action-btns{
    display: none;
}

.mail-preview:hover .mail-action-btns{
    display: flex;
    gap: 4px;
}


/* isRead */
.mail-preview.is-read {
    background-color: #f2f6fc;
}

.mail-preview.is-read .mail-subject,
.mail-preview.is-read .mail-from {
    font-weight: 400;
}

.mail-preview.draft .mail-from {
color: var(--clr-red-base);
}


.mail-preview.is-read .mail-sent-at {
    font-weight: 400;
    color: var(--clr-gray-400);
}

/* checkbox */
.mail-preview input.checkbox {
    opacity: 0.3;
}

.mail-preview:hover input.checkbox {
    opacity: 1;
}

.mail-preview:hover input.is-checked {
    opacity: 1;
}