.mail-filter-bar {
    gap: 24px;
    
    padding-inline-start: var(--px-spacing-sm);
    padding-inline-end: var(--px-spacing-md);
    padding-block-end: var(--px-spacing-sm);

    align-items: center;

    background-color: var(--clr-white);
    border-top-right-radius: var(--border-radius-lg);
    border-top-left-radius: var(--border-radius-lg);
}

.mail-filter-bar .action-btns {
    gap: 12px;
    align-items: center;

    height: 64px;
}



/*==========   date picker ==============*/


.mail-filter-bar .date-range-picker {
    gap: 8px;
}

.mail-filter-bar .date-range-picker label {
    color: var(--clr-gray-500);
}

.mail-filter-bar .date-range-picker .input-wraper {
    position: relative;
}

.mail-filter-bar .date-range-picker .input-wraper .clear-btn {
    position: absolute;
    left: 1px;
    top: 1px;
}

.mail-filter-bar .date-range-picker input {
    height: 36px;
    width: 200px;
    padding-inline-start: 40px;
    background-color: transparent;
    cursor: pointer;
    border-radius: var(--border-radius-round);
    border: 1px solid var(--clr-gray-300);
    color: var(--clr-gray-500);
}

.mail-filter-bar .date-range-picker input:hover {
    background-color: #f2f6fc;
    outline: 1px solid var(--clr-blue-l);
}

.mail-filter-bar .date-range-picker input:focus {
    background-color: #f2f6fc;
    outline: 1px solid var(--clr-blue-l);
}






/* Chrome, Safari, new Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 2px;
    transition: 0.2s;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: rgba(138, 180, 248, 0.2);
    border-radius: var(--border-radius-md);
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
    cursor: pointer;
    padding: 2px;
    transition: 0.2s;
}

input[type="date"]::-moz-calendar-picker-indicator:hover {
    background-color: rgba(138, 180, 248, 0.2);
    border-radius: var(--border-radius-md);
}

/* IE 10+ / old Edge */
input[type="date"]::-ms-expand {
    cursor: pointer;
    padding: 2px;
    transition: 0.2s;
}

input[type="date"]::-ms-expand:hover {
    background-color: rgba(138, 180, 248, 0.2);
    border-radius: var(--border-radius-md);
}